/*custom fonts*/
@font-face { font-family: FontAwesome; src: url('FontAwesome.otf'); } 

.body1{
  height:1080px;
  background: url('http://i.imgur.com/pVbN9c7.jpg') no-repeat,fixed;
  background-size: cover;  
}
.body2{
  height:1080px;
  background: url('http://i.imgur.com/rbOljVu.jpg') no-repeat,fixed;
  background-size: cover;  
}
.body3{
  height:1080px;
  background: url('http://i.imgur.com/C7xNnSC.jpg') no-repeat,fixed;
  background-size: cover;  
}
.body4{
  height:1080px;
  background: url('http://i.imgur.com/u5l34kI.png') no-repeat,fixed;
  background-size: cover;  
}
body{
	font-family: FontAwesome;
}
.header{
	font-size: 26px;
	font-weight: bold;
}
.contacts{
	margin-right: 35px !important;
	font-size: 22px;
	font-weight: bold;
}